driver=nl80211
ctrl_interface=/var/run/hostapd
ctrl_interface_group=0
auth_algs=1
wpa_key_mgmt=WPA-PSK
beacon_int=100
ssid=HomeIn1
channel=1
hw_mode=g
ieee80211n=0
wpa_passphrase={{wifi_password}}
interface=wlan0
wpa=2
wpa_pairwise=TKIP
country_code=FR
ignore_broadcast_ssid=0